/*NavBar*/

.dropbtn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  } 
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #96BFFF;
    border-radius: 5px;
    border-style:hidden;
  }
 

#EjNav> a{
  text-decoration: none;
  background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
#EjNav a:hover {
    background-color: #96BFFF;
  
    border-radius: 5px;
    border-style:hidden;
}

#SeccionCarrito{
    background-color: #f1f1f1;
    position:absolute;
    right:150px;
    top: 80%;
    
}
#SeccionCarrito a  {
    text-decoration: none;
    color: black;
}

#Busqueda {
  bottom: 85px;
  padding: 1px;
  position: absolute;
  right: 400px;
 }

 #Busqueda a{
     
   position:absolute;
   top: 30px;
    font-size: 10px;
    text-decoration: none;
    color: black;
    /*box*/
    width: 100px;
    border: 1px solid black;
    padding: 1px;
    margin: 1px;
    background-color: #f1f1f1;
}
/*
https://programandoointentandolo.com/2017/10/reset-css-normalizar-estilos.html
https://www.computerhope.com/issues/ch000074.htm
https://www.arkaitzgarro.com/css2/capitulo-5.html


*/

  *{
    margin: 0;
    padding: 0;
  
  }
  body{
    background-color: #ffffff;
  }
  
  nav{
    position: absolute;
    width: 100%;
    height: 130px;
    z-index: 10;
   background-color: #f0f0f0;
    top: 0px;
    color: rgb(2, 1, 1);
    border-radius: 15px;
  }
  

  
  article{
    border-radius: 10px;
    position: absolute;
    width: 80%;
    left: 50%;
    margin-left: -40%;
    top: 220px;
    background:  #c5cddd;
    /*background:  #f8e2e2c0;*/
  }

  .Paste{
    position: fixed;
    top: 0;
  }


.Todo{
  
  border-radius: 10px;
  background-color:transparent;
  position:initial;
  bottom:0;
}


.InfoUsuarioNav{
    position: absolute;
    top: 0;
    left: 90%;
    padding: 3px;
    margin: 3px;
   
}
.InfoUsuarioNav:hover{
  cursor: pointer;
   /*box*/
   width: 100px;
   border: 3px solid #6D98DE;
}


/*Login y signup*/
.BotonLogin .btn{
    display: block;
    text-align: left;
    margin: 10px 0;
    position: absolute;
    right: 0%;
}

.BotonLogin .btn button{
    background: #3580FA;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.BotonLogin .btn button:hover{
    transform: scale(0.9);
    background-color: #96BFFF;
}






/*CUERPO*/

.Todo .InfoAutor>img{
    margin: 10px;
    margin-left: 10px;
}

.CabeceraProductos{
    background-color: #c4c4c459;
    border-radius: 5px;
}
.CabeceraProductos a{
    text-decoration: rgb(0, 0, 0);
    color: rgb(0, 0, 0); 
}
.CabeceraProductos h5{
    display: inline;
}

.CabeceraProductos a:hover{
    color: rgb(177, 177, 177);
}
.CabeceraProductos .ordenarportuptm h6{
    display: inline;
    position: relative;
}

.CabeceraProductos .ordenarportuptm {
    text-align: right;
    position: relative;
    bottom: 20px;
}

.CabeceraProductos .ordenarportuptm select{
   
}




#Productos{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    background-color: #f2f2f2;

    max-width: 1150px;
    display: flex;
 }

 #Productos .cards{
    background-color: rgb(255, 255, 255);
    flex: 1;
    margin: 0 10px;
}

#Productos .cards .img {
    height: 150px;
    width: 100%;
}
#Productos .cards .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#Productos .cards .content{
    padding: 10px 20px;

}

#Productos .cards .content .title{
    font-size: 25px;
    font-weight: 600;
    color: #6D98DE;
}

#Productos .cards .content .sub-title{
    font-size: 20px;
    font-weight: 600;
    color: #6D98DE;
    line-height: 20px;

 }

 #Productos .cards .content p{
     text-align: justify;
     margin: 10px 0;

 }


 #Productos .cards .content .btn{
     display: block;
     text-align: left;
     margin: 10px 0;
 }

 #Productos .cards .content .btn button{
    background: #3580FA;
    color: #fff;
    border: none;
    outline: none;
    font-size: 17px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
 }

 #Productos .cards .content .btn button:hover{
     transform: scale(0.9);

 }



 #Productos .cards .content .title:hover{
    color: #DEB96D;
    cursor:pointer;
    transform: scale(1.1);
}
#Productos .cards .content .sub-title:hover{
    color: #DEB96D;
    cursor:pointer;
    transform: scale(1.1);
}

/*Paginación*/



  .pagination a {
    font-size: 20px;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    position:relative;
    left: 35%;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color:#6D98DE;}
  
  




/*footer*/



footer{
    width: 100%;
    background: #202020;
    color: white;
   
}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.Row-footer{
    display: flex;
    justify-content: space-between;
}

.Footer-1{
    max-width: 400px;
}

.Footer-1 h1{
    font-size: 22px;
}

.Footer-1 p{
    font-size: 14px;
    margin-top: 15px;
}

.Footer-2{
    max-width: 400px;
}

.Footer-2 h1{
    font-size: 22px;
}

.Socaial-Row{
    margin-top: 20px;
    display: flex;
}

.Socaial-Row a{
    width: 36px;
    height: 36px;
    color: white;
}

.Socaial-Row label{
    margin-left: 5px;
    color: #c7c7c7;
}

.Socaial-Row label:hover{
    color: #47b1fd;
}

.Footer-3{
    max-width: 400px;
}

.Footer-3 h1{
    font-size: 22px;
}

.Contact-Row1{
    margin-top: 20px;
}

.Contact-Row1 a{
  color: white;
  width: 36px;
  height: 36px;
}

.Contact-Row1 label{
    margin-top: 10px;
     margin-left: 20px;
     max-width: 120px;
  }

.container-botfooter{
  max-width: 100%;
  background: #101010;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.Copyright {
 display: flex;
}

.Copyright a{
 text-decoration: none;
 padding-right: 5px;
 color: white;
}

.infoFooter a{
    color: #c7c7c7;
}

.infoFooter a:hover{
    color: #47b1fd;
}

.nav-Logo:hover {
    display: flex;
    font-size: 15px;
    cursor: pointer;
    color: black;
}